* {
    margin: 0px;
    padding:0px;
}

.Container {
    max-width: 518vh;
    justify-content: center;
    align-items: center;
}

.upper-part {
    margin: 20px 0px 20px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.new-Article {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 20px;
}
button {
    text-decoration: none;
    background-color: #16e0bd;
    border-radius: 25px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
button:hover {
    transform: scale(1.1);
}
a {
    text-decoration: none;
    background-color: #16e0bd;
    color: black;
    font-size: 20px;
    padding: 15px;

}
.card {
    margin: 0% 10% 3% 10%;
    max-width: 518vh;
    /* border: 2px solid black; */
    box-shadow: 5px 10px 20px #888888;
    padding: 20px;

}

.card-body {
    margin-left: 20px;
}

.card-title {
    margin: 10px 0px 30px 0px;
}