* {
    margin: 0px;
    padding:0px;
}
h1 {
    color:  #0047ab;
    font-size: 3rem;
}

.Container {
    max-width: 518vh;
    justify-content: center;
    align-items: center;
}

.upper-part {
    margin: 20px 0px 20px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.new-Article {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 20px;
}
button {
    text-decoration: none;
    background-color: #16e0bd;
    border-radius: 25px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
button:hover {
    transform: scale(1.1);
}
a {
    text-decoration: none;
    /* background-color: #16e0bd; */
    color: black;
    font-size: 20px;
    padding: 15px;

}
.card {
    margin: 0% 10% 3% 10%;
    max-width: 518vh;
    /* border: 2px solid black; */
    box-shadow: 5px 10px 20px #888888;
    padding: 20px;

}

.card-body {
    margin-left: 20px;
}

.card-title {
    margin: 10px 0px 30px 0px;
}

.card-description {
    margin-top: 10px;
}

/* new page */
input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    /* padding: 3px 0px 3px 3px; */
    margin: 5px 1px 25px 0px;
    border: 1px solid #DDDDDD;
    height: 25px;
    width: 70%;
    border-radius: 10px;
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }
.new-Article-page {

}

label {
    font-size: 1.7rem;
    padding: 10px;
}

.input-fill {
    margin-top: 2%;
    margin-left: 10%;
}

.show-title {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    color: darkcyan;
    font-size: 2rem;
}

.show-description {
    margin-left: 55px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.show-markdown {
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}