<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link href="/public/assets/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="Container">
        <div class="upper-part">
            <h1>Hey!, checkout my Blogs</h1>
        </div>
        <div class="new-Article">
            <button><a href="/articles/new">New Article</a></button>
        </div>
        <% articles.forEach(article=> { %>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>
                            <%= article.title %>
                        </h4>
                    </div>
                    <div class="card-Date">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-description">
                        <%= article.description %>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>