<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="/public/assets/style.css" rel="stylesheet" type="text/css">

<body>
    <div class="show-title">
        <h2>
            <%= article.title %>
        </h2>
    </div>
    <div class="show-description">
        <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/articles/edit/<%= article.id %> " class=""
        style="border-radius: 5px; background-color: Gray;  padding: 10px; margin: 10px">All Articles</a>
    <div class="show-markdown">
        <%= article.markdown %>
    </div>
</body>

</html>